
//Color Setup
$colorArray: one two three;
$colorChoice: nth($colorArray, 3);
//colorArray index starts at 1, not 0

$mainColor: null;
$mainColorLight: null;
$accentColor: null;
$accentColorLight: null;

// @if $colorChoice == one {
//   $mainColor: #F6820D;
//   $mainColorLight: #F7BA7C;
//   $accentColor: #61C614;
//   $accentColorLight: #DDF8C7;
// } @else if $colorChoice == two {
//   $mainColor: #aa0813;
//   $mainColorLight: #FCF4DD;
//   $accentColor: #EBD460;
//   $accentColorLight: #255F32;
// } @else {
//   //this is a white and blue color pallet
//   $mainColor: white;
//   $mainColorLight: lightblue;
//   $accentColor: #555;
//   $accentColorLight: darkred;
// }

body {
  font-family: sans-serif;
  margin: 0;

  hr {
    margin: 0;
  }

  a {
    text-decoration: none;
  }

  label {
    display: block;
  }

  h2 {
    padding-left: 10px;
  }

  nav a {
    display: inline-block;
    margin: 1em;
    color: $accentColorLight;
  }

  form div {
    margin: 1em;
    display: inline-block;
  }
}